@*<header>
    <div class="header-content">
        <ul class="clearfix">
            <li><a href="#">Blogs</a></li>
            <li><a href="#">Contact Us</a></li>
            <li class="last"><a href="#">Foodservice</a></li>
        </ul>
        <div>
            <label>Search:</label>
            <input type="text" />
            <input type="submit" value="" />
            <select class="language" name="">
                <option>English</option>
                <option>Spanish</option>
            </select>
        </div>
        <div class="header_logo fltLt">
            <a href="#">
                <img src="Images/logo.png" alt="Mission Food"/>
            </a>
        </div>
        <nav>
            <a href="#">HOME</a>
            <a href="#">RECIPES</a>
            <a href="#">HEALTHY TIPS</a>
            <a href="#">PRODUCTS</a>
            <a href="#">ABOUT US</a>
            <a href="#">CONTACT US</a>
        </nav>
    </div>
</header>*@

<!-- Main Section -->
<section class="banner-home">
    
        <div id="slides">
            <div class="slides_container">
                <div class="slide"><img src="Content/Images/home1.jpg"/>
                    <div class="descript clearfix">
                        <h1>WELCOME  TO <br/> MISSION  FOODS</h1>
                        <p>Aliquam placerat, risus vitae auctor iaculis, neque ante imperdiet magna, quis rutrum nulla nisl ut lectus. Ut feugiat purus vel neque placerat nec rutrum nunc placerat. Nulla dapibus viverra quam, in porttitor nisi sodales eu.</p>
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="slide"><img src="Content/Images/home1.jpg"/>
                    <div class="descript clearfix">
                        <h1>WELCOME  TO <br/> MISSION  FOODS</h1>
                        <p>Aliquam placerat, risus vitae auctor iaculis, neque ante imperdiet magna, quis rutrum nulla nisl ut lectus. Ut feugiat purus vel neque placerat nec rutrum nunc placerat. Nulla dapibus viverra quam, in porttitor nisi sodales eu.</p>
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="slide"><img src="Content/Images/home1.jpg"/>
                    <div class="descript clearfix">
                        <h1>WELCOME  TO <br/> MISSION  FOODS</h1>
                        <p>Aliquam placerat, risus vitae auctor iaculis, neque ante imperdiet magna, quis rutrum nulla nisl ut lectus. Ut feugiat purus vel neque placerat nec rutrum nunc placerat. Nulla dapibus viverra quam, in porttitor nisi sodales eu.</p>
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="slide"><img src="Content/Images/home1.jpg"/>
                    <div class="descript clearfix">
                        <h1>WELCOME  TO <br/> MISSION  FOODS</h1>
                        <p>Aliquam placerat, risus vitae auctor iaculis, neque ante imperdiet magna, quis rutrum nulla nisl ut lectus. Ut feugiat purus vel neque placerat nec rutrum nunc placerat. Nulla dapibus viverra quam, in porttitor nisi sodales eu.</p>
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <a href="#" class="prev"><img src="Content/Images/prev-healthy.png" alt="Arrow Prev"/></a>
            <a href="#" class="next"><img src="Content/Images/next-healthy.png" alt="Arrow Next"/></a>
        </div>
    

</section>

<section class="summary-ctr">
    <fieldset>
        <article class="summary products-home">
            <div class="summary-img">
                <img src="Content/Images/products-home.jpg"/>
                <div class="title">
                    <h3>PRODUCTS</h3>
                </div>            
            </div>
            <div class="decoration"></div>
            <div class="summary-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit nec ante porttitor vel porttitor ante convallis. Nunc a dolor at libero lobortis facilisis a eget ligula. Cras dignissim rhoncus lectus interdum adipiscing.</p>
                <p class="read-more"><a href="#">Read More</a></p>
            </div>        
        </article>
        <article class="summary buy-home">
             <div class="summary-img">
                <img src="Content/Images/buy.jpg"/>
                <div class="title">
                    <h3>WHERE TO BUY?</h3>
                </div>            
            </div>
            <div class="decoration"></div>
            <div class="summary-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit nec ante porttitor vel porttitor ante convallis. Nunc a dolor at libero lobortis facilisis a eget ligula. Cras dignissim rhoncus lectus interdum adipiscing.</p>
                <p class="read-more"><a href="#">Read More</a></p>
            </div>
        </article>
        <article class="summary recipe-home">
             <div class="summary-img">
                <img src="Content/Images/recipe-home.jpg"/>
                <div class="title">
                    <h3>FEATURED RECIPE</h3>
                </div>            
            </div>
            <div class="decoration"></div>
            <div class="summary-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit nec ante porttitor vel porttitor ante convallis. Nunc a dolor at libero lobortis facilisis a eget ligula. Cras dignissim rhoncus lectus interdum adipiscing.</p>
                <p class="read-more"><a href="#">Read More</a></p>
            </div>
        </article>
    </fieldset>
</section>

<section class="summary-ctr">
    <fieldset>
        <article class="summary news-home">
            <div class="summary-img">
                <img src="Content/Images/healthy-tips-home.jpg"/>
                <div class="title">
                    <h3>NEWS</h3>
                </div>            
            </div>
            <div class="decoration"></div>
            <div class="summary-description2">
                <div>
                    <h4>News 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit nec ante porttitor vel porttitor ante convallis. Nunc a dolor at libero lobortis facilisis a eget ligula. Cras dignissim rhoncus lectus interdum adipiscing.</p>
                    <p class="read-more"><a href="#">Read More</a></p>
                </div>
                <div>
                    <h4>News 2</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit nec ante porttitor vel porttitor ante convallis. Nunc a dolor at libero lobortis facilisis a eget ligula. Cras dignissim rhoncus lectus interdum adipiscing.</p>
                    <p class="read-more"><a href="#">Read More</a></p>
                </div>
            </div>
           
        </article>
        <div class="social-home">
            <h2>LET'S CONNECT</h2>
            <p>Follow us on our social networks:</p>
            <ul class="clearfix">
                <li class="fltLt"><a href="#"><img src="Content/Images/fb.png" alt="home"/></a></li>
                <li class="fltLt"><a href="#"><img src="Content/Images/tw.png" alt="home"/></a></li>
                <li class="fltLt"><a href="#"><img src="Content/Images/icon3.png" alt="home"/></a></li>
            </ul>
            <div class="fb-like-box" data-href="https://www.facebook.com/pages/Mission-Foods/195539173816673?fref=ts" data-width="282" data-show-faces="true" data-header="false" data-stream="true" data-show-border="false"></div>            
            <div id="fb-root"></div>
            <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        </div>
    </fieldset>
</section>

@*<section>
    <div id="my-mission">        
    </div>    
    @Html.Partial("MyMissionFoods")
    <div id="shadow-mymission"></div>
</section>*@

