<div id="my-mission-cont" class="clearfix"><!---->

                <div class="content-my-mission clearfix fltRt">
                 
                    <div class="right-my-mission-content fltLt">
                        <div class="finder">
                            <h2>Recipe Finder</h2>
                        </div>
                        <div class="form-cont clearfix">
                            <p>Pellentesque eu enim felis, non imperdiet nunc. Donec iaculis sagittis metus, in porttitor.</p>
                            <form action="#" class="clearfix">
                                <div class="left-form-my-mission fltLt">
                                    <div class="div-form">
                                        <p><label>Search by Ingredient or Keyword</label></p>
                                        <p> <input type="text" value="Ingredient, product, etc" name="" class="fltLt text" onclick="this.value=''"/>
                                            <input type="submit" value="" class="fltLt submit"/></p>
                                    </div>
                                    <div class="div-form">
                                        <p><label>Search by Recipe Type</label></p>
                                        <p> <select class="search" name="">
                                                <option>Breakfast</option>
                                                <option></option>
                                            </select>
                                            <input class="fltLt submit" type="submit" value="" /></p>
                                    </div>
                                    <div class="div-form">
                                        <p><label>Search by Collection</label></p>
                                        <p> <select class="search" name="">
                                                <option>Tortillas</option>
                                                <option></option>
                                            </select>
                                            <input class="fltLt submit" type="submit" value="" /></p>
                                    </div>
                                </div>
                                <div class="right-form-mi-mission fltLt">
                                    <div class="div-form">
                                        <p><label>Search by Product Type</label></p>
                                        <p> <select class="search" name="">
                                                <option>Chapatti</option>
                                                <option></option>
                                            </select>
                                            <input class="fltLt submit" type="submit" value="" /></p>
                                    </div>
                                    <div class="div-form">
                                        <p><label>Cooking Time</label></p>
                                        <ul id="timeList" class="clearfix">
                                            <li class="selected">
                                                <p><a onclick="timeEfect(this)" href="#"><img src="Content/Images/cook5.png"/></a></p>
                                                <p><span>5 min</span></p>
                                            </li>
                                            <li>
                                                <p><a onclick="timeEfect(this)" href="#"><img src="Content/Images/cook15.png"/></a></p>
                                                <p><span>15 min</span></p>
                                            </li>
                                            <li>
                                                <p><a onclick="timeEfect(this)" href="#"><img src="Content/Images/cook30.png"/></a></p>
                                                <p><span>30 min</span></p>
                                            </li>
                                            <li class="last">
                                                <p><a onclick="timeEfect(this)" href="#"><img src="Content/Images/cook45.png"/></a></p>
                                                <p><span>45 min</span></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="submit">
                                        <input class="submit-form" type="submit" value="Search"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
               @* <div id="hide-aside" class="logo-my-mission fltRt" onclick="hideMyMission('my-mission-cont')">
                    <img src="Content/Images/my-mission.png" alt="my mission food"/>
                </div>*@
            </div>