@{
    ViewBag.Title = "Recipes";
}

<section class="recipes">
    <section>
        <div class="recipe">
            @*<div class="content-recipe">*@
                <img src="Content/Images/recipe-1.jpg" />
                <div class="descrip">
                    <div class="fade"></div>
                    <div class="descrip-text">
                        <h3>Recipes</h3>
                        <h1>DISCOVER A NEW MEAL TODAY</h1>
                        <p>Aliquam placerat, risus vitae auctor iaculis, neque ante imperdiet magna, quis rutrum nulla nisl ut lectus. Ut feugiat purus vel neque placerat nec rutrum nunc placerat. Nulla dapibus viverra quam, in porttitor nisi sodales eu.</p>
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>
            @*</div>*@
        </div>
    </section>
    <section id="recipe-finder">        
        <div class="container-fluid">
            <div class="row-fluid">
            <div class="span8">
                @Html.Partial("MyMissionFoods")
                <div class="recipe-results">
                    <div>
                        <h1>Recipe Results</h1>
                        <p>Your search results for:  <span> Breakfast, Tortillas, Chapatti, 30 min</span></p>
                    </div>
                    <div class="results-gallery">
                        <ul>
                            <li class="food-result">
                                <div id="result1" class="result-content">                                  
                                    <img src="Content/Images/food-result1.jpg"/>
                                    <div id="result1-descrip" class="descrip-result">
                                        <div class="overlay"></div>
                                        <p>1.-Pellentesque eu enim felis, non imperdiet nunc. Donec iaculis sagittis metus, in porttitor.</p>
                                    </div>
                                </div>
                                <h3 class="name">Fresh Tortillas</h3>
                            </li>
                            <li class="food-result">
                                <div id="result2" class="result-content">                                  
                                    <img src="Content/Images/food-result.jpg"/>
                                    <div id="result2-descrip" class="descrip-result">
                                        <div class="overlay"></div>
                                        <p>2.-Pellentesque eu enim felis, non imperdiet nunc. Donec iaculis sagittis metus, in porttitor.</p>
                                    </div>
                                </div>
                                <h3 class="name">Meat and Veggies Breakfast</h3>
                            </li>
                            <li class="food-result">
                                <div id="result3" class="result-content">                                  
                                    <img src="Content/Images/food-result2.jpg"/>
                                    <div id="result3-descrip" class="descrip-result">
                                        <div class="overlay"></div>
                                        <p>3.-Pellentesque eu enim felis, non imperdiet nunc. Donec iaculis sagittis metus, in porttitor.</p>
                                    </div>
                                </div>
                                <h3 class="name">Fresh and Green</h3>
                            </li>
                            <li class="food-result">
                                <div id="result4" class="result-content">                                  
                                    <img src="Content/Images/food-result1.jpg"/>
                                    <div id="result4-descrip" class="descrip-result">
                                        <div class="overlay"></div>
                                        <p>4.-Pellentesque eu enim felis, non imperdiet nunc. Donec iaculis sagittis metus, in porttitor.</p>
                                    </div>
                                </div>
                                <h3 class="name">Fresh Tortillas</h3>
                            </li>
                            <li class="food-result">
                                <div id="result5" class="result-content">                                  
                                    <img src="Content/Images/food-result.jpg"/>
                                    <div id="result5-descrip" class="descrip-result">
                                        <div class="overlay"></div>
                                        <p>5.-Pellentesque eu enim felis, non imperdiet nunc. Donec iaculis sagittis metus, in porttitor.</p>
                                    </div>
                                </div>
                                <h3 class="name">Meat and Veggies Breakfast</h3>
                            </li>
                            <li class="food-result">
                                <div id="result6" class="result-content">                                  
                                    <img src="Content/Images/food-result2.jpg"/>
                                    <div id="result6-descrip" class="descrip-result">
                                        <div class="overlay"></div>
                                        <p>6.-Pellentesque eu enim felis, non imperdiet nunc. Donec iaculis sagittis metus, in porttitor.</p>
                                    </div>
                                </div>
                                <h3 class="name">Fresh and Green</h3>
                            </li>
                            <li class="food-result">
                                <div id="result7" class="result-content">                                  
                                    <img src="Content/Images/food-result1.jpg"/>
                                    <div id="result7-descrip" class="descrip-result">
                                        <div class="overlay"></div>
                                        <p>7.-Pellentesque eu enim felis, non imperdiet nunc. Donec iaculis sagittis metus, in porttitor.</p>
                                    </div>
                                </div>
                                <h3 class="name">Fresh Tortillas</h3>
                            </li>
                            <li class="food-result">
                                <div id="result8" class="result-content">                                  
                                    <img src="Content/Images/food-result.jpg"/>
                                    <div id="result8-descrip" class="descrip-result">
                                        <div class="overlay"></div>
                                        <p>8.-Pellentesque eu enim felis, non imperdiet nunc. Donec iaculis sagittis metus, in porttitor.</p>
                                    </div>
                                </div>
                                <h3 class="name">Meat and Veggies Breakfast</h3>
                            </li>
                            <li class="food-result">
                                <div id="result9" class="result-content">                                  
                                    <img src="Content/Images/food-result2.jpg"/>
                                    <div id="result9-descrip" class="descrip-result">
                                        <div class="overlay"></div>
                                        <p>9.-Pellentesque eu enim felis, non imperdiet nunc. Donec iaculis sagittis metus, in porttitor.</p>
                                    </div>
                                </div>
                                <h3 class="name">Fresh and Green</h3>
                            </li>
                            <li class="food-result">
                                <div id="result10" class="result-content">                                  
                                    <img src="Content/Images/food-result1.jpg"/>
                                    <div id="result10-descrip" class="descrip-result">
                                        <div class="overlay"></div>
                                        <p>10.-Pellentesque eu enim felis, non imperdiet nunc. Donec iaculis sagittis metus, in porttitor.</p>
                                    </div>
                                </div>
                                <h3 class="name">Fresh Tortillas</h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span4">
                <h3>Try Our Favorites</h3>
                <div id="ourFavorites" class="carousel slide" >                                              
                        <div class="carousel-inner">
                            <div class="active item"><img src="Content/Images/carrousel1.jpg"/>
                                <h4>Cinco de Mayo</h4>
                                <p>------</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit nec ante porttitor vel porttitor ante convallis. Nunc a dolor at libero magna ut scelerisque.</p>
                                <p class="read-more">
                                    <a href="#">View Recipe</a>
                                </p>

                            </div>
                            <div class="item"><img src="Content/Images/carrousel2.jpg"/>
                                <h4>Diez de Mayo</h4>
                                <p>------</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat elit nec ante porttitor vel porttitor ante convallis. Nunc a dolor at libero magna ut scelerisque.</p>
                                <p class="read-more">
                                    <a href="#">View Recipe</a>
                                </p>
                            </div>
                        </div>
                        <a class="carousel-prev" href="#ourFavorites" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-next" href="#ourFavorites" data-slide="next">&rsaquo;</a>
                        
                        <div class="most-populars">
                            <h3>Most Popular</h3>
                            <ul>
                                <li><a href="#">1. Blue Corn Breakfast Tacos.</a></li>
                                <li><a href="#">2. Strawberry Balsamic Ricotta Bruscheta.</a></li>
                                <li><a href="#">3. Chicken Empanadas</a></li>
                                <li><a href="#">4. Charred Corn Steak Fajitas.</a></li>
                                <li><a href="#">5. South of the Border Guacamole</a></li>
                            </ul>
                        </div>                      
                    </div>
                </div>
            </div>
            
        </div>
    </section>

</section>

@*<script type="text/javascript">
    $(document).ready(function () {
        Recipes.Index.Init();
    });
</script>*@