

<div id="rateRecipeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <span><img src="~/Content/Images/logo.png" width="48" height="32"/></span>  
        <h1>RATE THIS RECIPE</h1>
        <a href="#" class="icn-close" data-dismiss="modal" aria-hidden="true"><img src="~/Content/Images/close.png"/></a>
    </div>
  <div class="modal-body">
     <form action="#">
        <p>1. Roll over and click a star to rate (1 (lowest) to 5 (highest))</p>
         <div class="rate-recipe"></div>
        @*<div id="get_calification" class="">
            <p>
                <input name="rating2" type="radio"  value="1" class="star"/>
                <input name="rating2" type="radio"  value="2" class="star"/>
                <input name="rating2" type="radio"  value="3" class="star"/>
                <input name="rating2" type="radio"  value="4" class="star"/>
                <input name="rating2" type="radio"  value="5" class="star"/>
            </p>
        </div><!--set_calification-->*@
        <p>2. Please enter your comments below. 1000 character limit (Optional)</p>
        <p><textarea name="" rows="4" cols="20"></textarea> </p>
        @*<p class="submit clearfix"><input class="submit" type="submit" value="Submit" /></p>*@
    </form>

  </div>
  <div class="modal-footer">
    @*<a href="#" class="btn">Close</a>*@
    <p class="read-more">
        <a href="#">Submit</a>
    </p>
  </div>
</div>
