
<div id="seeRatingReviewsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <span><img src="~/Content/Images/logo.png" width="48" height="32"/></span>  
        <h1>USERS REVIEWS FOR THIS RECIPE</h1>
        <a href="#" class="icn-close" data-dismiss="modal" aria-hidden="true"><img src="~/Content/Images/close.png"/></a>
    </div>
  <div class="modal-body">
        <div class="average-rating-container"><label>Average Rating</label><p class="average-rating"></p><span>(Based on 982 Ratings)</span></div>
        <div class="comments-container">
            <ul>
                <li>
                    <h4>User Name 1</h4>
                    <div><label>Rating</label><p class="rating-user"></p></div>
                    <p class="date">Date Added: 1/3/2013 &bull; 3:45 p.m.</p>
                    <p class="comment">This is something I would make again. I changed it slightly by using the entire can of enchilada sauce, added some garlic and added Mexican cheese. I also made one pan using corn tortillas and those turned out really good! I can't wait to have leftovers.</p>
                </li>
                <li>
                    <h4>User Name 1</h4>
                    <div><label>Rating</label><p class="rating-user"></p></div>
                    <p class="date">Date Added: 1/3/2013 &bull; 3:45 p.m.</p>
                    <p class="comment">This is something I would make again. I changed it slightly by using the entire can of enchilada sauce, added some garlic and added Mexican cheese. I also made one pan using corn tortillas and those turned out really good! I can't wait to have leftovers.</p>
                </li>
                <li>
                    <h4>User Name 1</h4>
                    <div><label>Rating</label><p class="rating-user"></p></div>
                    <p class="date">Date Added: 1/3/2013 &bull; 3:45 p.m.</p>
                    <p class="comment">This is something I would make again. I changed it slightly by using the entire can of enchilada sauce, added some garlic and added Mexican cheese. I also made one pan using corn tortillas and those turned out really good! I can't wait to have leftovers.</p>
                </li>
                <li>
                    <h4>User Name 1</h4>
                    <div><label>Rating</label><p class="rating-user"></p></div>
                    <p class="date">Date Added: 1/3/2013 &bull; 3:45 p.m.</p>
                    <p class="comment">This is something I would make again. I changed it slightly by using the entire can of enchilada sauce, added some garlic and added Mexican cheese. I also made one pan using corn tortillas and those turned out really good! I can't wait to have leftovers.</p>
                </li>
                <li>
                    <h4>User Name 1</h4>
                    <div><label>Rating</label><p class="rating-user"></p></div>
                    <p class="date">Date Added: 1/3/2013 &bull; 3:45 p.m.</p>
                    <p class="comment">This is something I would make again. I changed it slightly by using the entire can of enchilada sauce, added some garlic and added Mexican cheese. I also made one pan using corn tortillas and those turned out really good! I can't wait to have leftovers.</p>
                </li>
            </ul>
        </div>
    </div>
  <div class="modal-footer">
    
  </div>
</div>
