<section class="banner-home">    
        <div id="slides">
            <div class="slides_container">
                <div class="slide"><img src="Content/Images/products-slider1.jpg"/>
                    <div class="descript">
                        <p>Mission Mexican Flour Tortillas</p>
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="slide"><img src="Content/Images/healthy-slider2.jpg"/>
                    <div class="descript">
                        <p>Mission Mexican Flour Tortillas</p>                        
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="slide"><img src="Content/Images/healthy-slider3.jpg"/>
                    <div class="descript clearfix">
                        <p>Mission Mexican Flour Tortillas</p>                        
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>
                <div class="slide"><img src="Content/Images/healthy-slider3.jpg"/>
                    <div class="descript clearfix">                        
                        <p>Mission Mexican Flour Tortillas</p>
                        <p class="read-more">
                            <a href="#">Read More</a>
                        </p>
                    </div>
                </div>
            </div>
            <a href="#" class="prev"><img src="Content/Images/prev-products.png" alt="Arrow Prev"/></a>
            <a href="#" class="next"><img src="Content/Images/next-products.png" alt="Arrow Next"/></a>
        </div>
    

</section>